menu "Zephyr"
source "Kconfig.zephyr"

config HELLO_TIMER_PERIOD_MS
	int "Intervalo do Hello World (ms)"
	range 100 10000
	default 1000
	help
	  Define o período em milissegundos do timer que exibe a mensagem Hello World.
	  Valores muito pequenos podem sobrecarregar o log.

endmenu
